<table class="table table-hover table-bordered datatable" id="question-table">
    <thead>
        <tr class="head">
            <th></th>
            <th>ID</th>
            <th>Parent</th>
            <th>Subcategory</th>
            <th>Creator</th>
            <th>Create date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr class="head">
            <th><input id="chkAll" type="checkbox" /></th>
            <th>ID</th>
            <th>Parent</th>
            <th>Subcategory</th>
            <th>Creator</th>
            <th>Create date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<Exam.DomainModels.ExamDomainModel>)ViewBag.questions)
        {
            string status1 = "", status2 = "";
            status1 = item.Status == 1 ? "selected" : "";
            status2 = item.Status == 0 ? "selected" : "";
            <tr class="tr">
                <td><input name="ques_chk[]" type="checkbox" class="chk" value="@item.ID" /></td>
                <td>@item.ID</td>
                <td>@item.Parent</td>
                <td>@item.Sub</td>
                <td>@item.Creator</td>
                <td>@item.CreateDate</td>
                <td>
                    @if (item.Status.Equals(0))
                    {
                        <i class="entypo-block" style="font-size:large; color:darkred;"></i>
                    }
                    else if (item.Status.Equals(1))
                    {
                        <i class="entypo-check" style="font-size:large;color:#50b54f"></i>
                    }
                </td>
                <td>
                    <a href="@Url.Action("GetQuestion","Exam",new { id=item.ID})" name="view_ques" class="btn btn-info icon btn-icon view" data->
                        <i class="entypo-eye"></i>
                        View
                    </a>
                    <a href="@Url.Action("GetQuestion","Exam",new { id=item.ID})" name="edit" class="btn btn-primary icon btn-icon edit" data->
                        <i class="entypo-pencil"></i>
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

